.background-img {
  position: relative;
  background-image: url("../assets/background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  filter: blur(0.25rem);
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 3rem;
  top: 55%;
  left: 50%;
  padding: 5rem 2rem;
  transform: translate(-50%, -55%);
  background-color: rgba(0,0,0, 0.4);
  border: 3px solid rgb(194, 194, 194);
  color: rgb(194, 194, 194);;
  text-align: center;
}

.desc {
  font-size: 2.5rem;
}

.yellow {
  color: #eee8a9;
}

.home-btn {
  background-color: #eee8a9;
}
.home-btn:hover {
  background-color: #5e8990;
}