.city-list {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-top: 1.5rem;
    gap: 1rem;
}

.city-el {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    background-color: #436d74;
    color:rgb(194, 194, 194);
    text-decoration: none;
}
.city-el:hover {
    background-color: #508089;
}

.city-el__active {
    border: 2px solid #eee8a9;
}

.delete-btn {
    display: flex;
    align-self:;
    padding: 0.4rem;
    background-color: #28535a;
}
.delete-btn:hover {
    background-color: #A83200;
}