.navbar {
  position: absolute;
  z-index: 10;
  padding: 1.5rem;
  width: 100%;
  /* background-color:rgb(39, 65, 65); */
}

.navbar__container {
  display: flex;
  gap: 2rem;
}

.navbar__links {
  display: flex;
  padding: 0 1rem;
  flex-direction: row;
  justify-content: space-between;
  gap: 5rem;
}

.navbar__link {
  text-decoration: none;
  color: rgb(69, 69, 69);
}

.navbar :global(.active) {
  color: rgb(194, 194, 194);
  text-decoration: none;
}

.nav-btn {
  background-color: #eee8a9;
}
.nav-btn:hover {
  background-color: #f7f1b1;
}
