/* :root {
  --color-lightest: ;
  --color-darkest: ;
  --color-main: ;
  --color-succs: ;
  --color-worning: ;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 60%;
  /* font-family: ; */
}

body {
  min-height: 100vh;
  padding: 4rem;
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  /* background-color: var();
  color: var(); */
}

h1 {
  /* font-size: 1em; */
  line-height: 1.1;
}

button {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
