@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* :root {
  --color-lightest: ;
  --color-darkest: ;
  --color-main: #436d74;
  --color-succs: #007e5e; или #59aa96 или #6f8a56
  --color-danger: #a24000;
  --color-emphasis: #eee8a9;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 60%;
  font-family: "Caudex", serif;
}

body {
  font-weight: 400;
  min-height: 100vh;
  /* padding: 4rem; */
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
  background-color: #436d74;
  /* background-color: var();
  color: var(); */
}

h1 {
  /* font-size: 1em; */
  line-height: 1.1;
}

ul {
  list-style: none;
  text-decoration: none;
}

button {
  cursor: pointer;
  width: fit-content;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  align-self: center;
  font-size: 2rem;
  font-weight: 500;
  font-family: inherit;
}
button:hover {
  transform: scale(0.98);
  transition: all 0.15s ease-in;
}

.logo {
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
}
